@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;

}

body{
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../pacote-d013/imagens/frame-iphone.png) no-repeat;    
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 472px;
 
}

section#menu{
    text-align: right;
    padding-right: 10px;
    padding-top: 230px;
    
    
    
}

section#menu img{
    width: 60px;
    border-radius: 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.822);
    box-sizing: border-box;

}

section#menu img:hover{
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(3px, 3px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.651);
    transition: transform 0.3s;
}




/*

body{
    background-image: url(../pacote-d013/imagens/fundo-madeira.jpg);
    background-attachment: fixed;
}

.container{
    display: flex;

}
a{
    
}

div.cel{
    background-color: aqua;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

div.menu{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
   
    margin-left: auto;
    margin-right: 0%;
    
}

*/